@media screen and (min-width: 768px) {
    .navbar a {
        font-size: 20px;
    }

    .search-word {
        display: none;
    }

    .navbar {
        justify-content: space-between;
    }

    .search-icon {
        display: flex;
        align-self: center;
        color: white;
        padding: 0 20px;
    }

    .hero-img {
        height: 900px;
}
    .main-bottom {
  height: 500px;
}

.headline {
  font-size: 60px;
}

.hero-img .overlaid-text {
  font-size: 22px;
  padding: 5px 10px;
  margin: 0 100px;
}

.random-img .overlaid-text,
.search-img .overlaid-text {
  font-size: 20px;
}

.random-img, .search-img {
  align-items: center;
}

    
}