.button{
    background-color: var(--red);
    color:white;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: normal;
    margin: 30px 0;
}

input {
    padding: 5px 100px 5px 5px;
    margin: 30px 0;
}

.search-results img {
    max-width: 350px;
    margin: 30px;
}